.header{
  border-bottom: 1px solid rgb(59, 50, 50);
  padding: 20px 5px 10px 5px;
  position: fixed;
  top:0px;
  right: 0px;
  left: 0px;
}

.header-content{
 display: flex;
 justify-content: center;     
}

.header-content div{
/* display: inline-block; */
padding: 0px 15px 0px 0px;
}

/* .company-logo{
} */

.header-unorder{
list-style-type: none;
}

#search-bar{
  width: 300px;
  border-radius: 5px;
}

.service-man--register{
border-right:1px solid black;
padding-right: 25px;
}

.header-unorder li{
display: inline;
padding-right: 20px;
}

.header a{
text-decoration: none;
font-weight:500;
color:black;
}

.sign-in--buttton{
width:80px;
border-radius: 5px;
}